.sidenav {
  height: auto;
  width: 200px;
  position: absolute;
  top: 0;
  right: 0;
  
  /* z-index: 1; */
  /* top: 0;
  left: 0; */
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}
.MuiMenu-list{
  background-color: #111;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.9s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}